.sub_cont{margin:0 auto; padding:60px 20px; max-width:1320px; }

.sub_container{margin:0 auto; padding:120px 20px; max-width:1320px; }
.sub_top_title{position:relative; z-index:2; margin-bottom:40px; line-height:1; font-size:42px; color:#222; font-family: 's-core-dream-bold';}
.sub_top_txt{position:relative; z-index:2; margin-bottom:100px; font-size:24px; }
.sub_cont_top{position:relative; z-index:1; padding:120px 20px 60px; overflow:hidden;}
.sub_cont_top:before{position:absolute; right:20px; top:25px; width:445px; height:288px; display:block; background:url(../../image/mentor_group_bg.jpg) no-repeat right 0; content:"";}
.sub_container{position:relative; z-index:1; overflow:hidden;}
.sub_container:before{position:absolute; right:20px; top:25px; width:445px; height:288px; display:block; background:url(../../image/mentor_group_bg.jpg) no-repeat right 0; content:"";}

.search_type_2{position:relative; margin:0 auto 40px; padding-right:130px;  max-width:1220px; box-sizing:border-box; }
.search_type_2:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.search_type_2 select{float:left; margin-right:0.93%; width:16.5%; height:56px; line-height:54px; font-size:18px; }
.search_type_2 select.long{width:22%;}
.search_type_2 input[type=text]{float:left; width:42.2%; height:56px; line-height:54px; font-size:18px; }
.search_type_2 .btn_search{position:absolute; right:0; top:0; width:120px; height:56px; line-height:54px; text-align:center; border:1px solid #0069f8; font-size:18px; color:#0069f8; font-family: 's-core-dream-medium'; border-radius:5px; }

.basic-btn03{width:200px; height:60px; line-height:58px; display:inline-block; text-align:center; border-radius:5px; font-size:18px; box-sizing:border-box; vertical-align:top; font-family: 's-core-dream-medium';cursor:pointer;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
.btn-blue-bd{ border:1px solid #4b8cf7; color:#4b8cf7;}
.btn-blue-bd:hover{background-color:#4b8cf7; color:#fff; }



.gallery_list_2 ul:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.gallery_list_2>ul>li{float:left; margin-right:4.55%; width:30.3%; }
.gallery_list_2>ul>li:nth-child(3n){margin-right:0; }
.gallery_list_2>ul>li .img_area a{position:relative; padding-bottom:65%; display:block; }
.gallery_list_2>ul>li .img_area img{position:absolute; left:0; top:0; bottom:0; width:100%; height:100%; display:block; }
.gallery_list_2>ul>li .txt_area{padding-top:10px; height:180px; box-sizing:border-box; }
.gallery_list_2>ul>li .txt_area .title{margin-bottom:20px; height:70px; overflow:hidden; font-size:24px; color:#000; }
.gallery_list_2>ul>li .txt_area .date{font-size:18px; color:#888;}


.gallery_list_2>ul>li .txt_area{height:220px; }
.irWrap .gallery_list_2>ul>li .title{margin-bottom:10px; font-size:20px; height:auto; }
.irWrap .gallery_list_2>ul>li .txt_1{display:block; font-size:16px; color:#888;}
.irWrap .gallery_list_2>ul>li .txt_2 li{position:relative; margin-bottom:5px; padding-left:10px; font-size:16px; }
.irWrap .gallery_list_2>ul>li .txt_2 li:before{position:absolute; left:0; top:10px; width:5px; height:1px; background-color:#333; display:block; content:"";}

.area_list{margin-bottom:40px;}
.area_list ul:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.area_list ul li{float:left; width:16.66%; border:1px solid #ddd; box-sizing:border-box; }
.area_list ul li a{padding:0 5px; width:100%; height:70px; display:table; text-align:center; box-sizing:border-box; }
.area_list ul li a span{display:table-cell; vertical-align:middle; font-size:16px; color:#aaa; font-family: 's-core-dream-medium';}
.area_list ul li.on{border-color:#0069f8;}
.area_list ul li.on a span{color:#0069f8;}


.bbs_tb_list{margin-bottom:50px; }
.bbs_tb_list th{padding:15px 0; text-align:center; border-top:2px solid #333; border-bottom:1px solid #ddd;  font-size:16px; }
.bbs_tb_list td{padding:14px 5px; text-align:center; border-bottom:1px solid #ddd; font-size:16px;}
.bbs_tb_list td .notice_icon{margin-top: -10px;width: 60px;height: 30px;line-height: 28px;text-align: center;display: inline-block;border: 1px solid #009bcb;box-sizing: border-box;color: #009bcb;font-size: 14px;font-weight: 300;border-radius: 0;}
.bbs_tb_list td a{font-size:16px; }
.bbs_tb_list td.icon img{width:20px; }

@media screen and (max-width: 1400px){
    .infrastructure_list>li.list_3{left:300px; }
    .infrastructure_list>li.list_4{left:600px; }


}


@media screen and (max-width: 1360px){

}



@media screen and (max-width: 1240px){

    .irWrap .gallery_list_2>ul>li .title{height:auto; font-size:18px;}
    .irWrap .gallery_list_2>ul>li .txt_1{font-size:14px;}

    .area_list ul li a span{font-size:14px; }





}


@media screen and (max-width: 1024px){
    .sub_container{padding:80px 20px; }
    .sub_top_title{font-size:32px; }
    .sub_top_txt{margin-bottom:50px; font-size:18px; }

    .sub_cont_top:before,
    .sub_container:before{right:-120px; }
    .tab_style_1 ul li{width:25%;}

    .search_type_2 select,
    .search_type_2 input[type=text],
    .search_type_2 .btn_search{font-size:16px;}

    .irWrap .gallery_list_2>ul>li .title{height:auto; }
    .irWrap .gallery_list_2>ul>li .txt_2 li{font-size:14px; }

    .bbs_tb_list th{font-size:14px;}
    .bbs_tb_list td a,
    .bbs_tb_list td{font-size:14px;}

    .gallery_list_2 ul li .txt_area .title{font-size:18px; height:54px; }
    .gallery_list_2 ul li .txt_area .date{font-size:14px;}





}


@media screen and (max-width: 768px){


    .sub_container{padding:60px 20px; }
    .sub_top_title{margin-bottom:20px; font-size:26px; }
    .sub_top_txt{margin-bottom:50px; font-size:14px; }
    .title_style_1{font-size:18px; margin-bottom:20px;}

    .sub_cont_top:before,
    .sub_container:before{display:none; }
    .sub_top_txt br{display:none; }
    .tab_style_1 ul li{width:33.33%; }
    .tab_style_1 ul li span{font-size:13px; }
    .tab_style_1 ul li a{height:45px; box-sizing:border-box; }

    .basic-btn03{width:140px; height:40px; line-height:38px; font-size:13px;}

    .search_type_2{padding-right:0;}
    .search_type_2 select{margin:0 0 0 2%; width:32%; height:40px; line-height:38px; font-size:14px; }
    .search_type_2 select.long{margin:0; width:32%; }
    .search_type_2 input[type=text]{float:none; margin:5px 0; width:100%; height:40px; line-height:38px; font-size:14px; }
    .search_type_2 .btn_search{position:relative; width:100%; height:40px; line-height:38px; font-size:14px; }

    .gallery_list_2 ul li{margin-right:0; width:49%;}
    .gallery_list_2 ul li:nth-child(2n){float:right; }
    /*.gallery_list_2 ul li .txt_area{height:150px; }*/
    /*.gallery_list_2 ul li .txt_area .title{margin-bottom:10px; height:64px;  font-size:16px; }*/
    /*.gallery_list_2 ul li .txt_area .date{font-size:13px; }*/

    .irWrap .gallery_list_2>ul>li .title{height:auto; font-size:14px;}
    .irWrap .gallery_list_2>ul>li .txt_2 li,
    .irWrap .gallery_list_2>ul>li .txt_1{font-size:12px;}
    .irWrap .gallery_list_2>ul>li .txt_2 li:before{top:7px;}
    .irWrap .gallery_list_2>ul>li .txt_area{height:180px;}
    .irWrap .gallery_list_2>ul>li .txt_2 li{margin-bottom:2px; }

    .area_list ul li{width:33.33%;}
    .area_list ul li a{height:46px; }
    .area_list ul li a span{font-size:12px;}

    .bbs_tb_list th{font-size:12px; }
    .bbs_tb_list td a, .bbs_tb_list td{font-size:12px;}




}
