
.search_wrap{position:relative; z-index:2; margin-bottom:35px; padding:34px 20px; background-color:#f7f7f7;}
.search{position:relative; margin:0 auto; padding-right:106px; max-width:683px; width:100%; box-sizing:border-box;}
.search .btn_search{position:absolute; right:0; top:0; width:106px; height:52px; line-height:52px; text-align:center; display:block; background-color:#009bcb; font-size:15px; color:#fff; }
.search select{float:left; width:19%; height:52px; line-height:50px; font-size:16px;margin-right: 1%; }
.search input[type=text]{float:right; width:60%; height:52px; line-height:50px; font-size:16px; }

.tab_style_3{margin-bottom:100px; text-align:center; }
.tab_style_3 li{margin:0 30px; display:inline-block; max-width: 236px;}
.tab_style_3 li a{position:relative; padding-bottom:25px; display:block; font-size:16px; color:#aaa; }
.tab_style_3 li.on a{color:#0069f8; }
.tab_style_3 li.on a:before{position:absolute; left:0; bottom:0; width:100%; height:3px; background-color:#0069f8; display:block; content:"";}
.tab_style_3 li a strong{margin-bottom:10px; display:block; font-size:32px; font-family: 's-core-dream-medium';}

.tab_style_4 ul{margin-bottom: 20px;}
.tab_style_4{margin-bottom:100px; text-align:center; }
.tab_style_4 li{    position: Relative;
    float: left;
    margin: -1px 0 0 -1px;
    width: 20%;
    border: 1px solid #d8d8d8;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.tab_style_4 li a{    padding: 0 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    display: table;}

.tab_style_4 li a span{display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    font-family: 's-core-dream-medium';
    color: #aaa;}
.tab_style_4 li.on:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #3d89f9;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    content: "";
}
.tab_style_4 .search input[type=text]{width:80%;}
/*.tab_style_4 li.on a:before{position:absolute; left:0; bottom:0; width:100%; height:3px; background-color:#0069f8; display:block; content:"";}*/
/*.tab_style_4 li a strong{margin-bottom:10px; display:block; font-size:32px; font-family: 's-core-dream-medium';}*/


@media screen and (max-width: 1400px){

}


@media screen and (max-width: 1360px){

}



@media screen and (max-width: 1240px){

}


@media screen and (max-width: 1024px){
    .tab_style_3 li{margin:0 10px; }
    .tab_style_3 li a{font-size:14px;}
    .tab_style_3 li a strong{font-size:24px;}
}


@media screen and (max-width: 768px){
    .tab_style_3{margin-bottom:30px; }
    .tab_style_3 li{margin:0 0 10px; float:left; padding:0 10px 5px; width:50%; box-sizing:border-box; }
    .tab_style_3 li a{padding-bottom:15px; font-size:12px;}
    .tab_style_3 li a br{display:none;}
    .tab_style_3 li a strong{font-size:16px;}

    .search_wrap{padding:15px 10px;}
    .search{padding-right:70px; }
    .search .btn_search{width:70px; height:40px; line-height:40px; font-size:13px; }
    .search input[type=text],
    .search select{font-size:13px; height:40px; line-height:38px;}



}
