/*.react-datepicker {*/
/*    font-size: 1.3rem !important;*/
/*}*/

/*.react-datepicker__current-month {*/
/*    font-size: 1.5rem !important;*/
/*}*/

/*.react-datepicker__header {*/
/*    padding-top: 6px !important;*/
/*}*/

/*.react-datepicker__navigation {*/
/*    top: 13px !important;*/
/*}*/

/*.react-datepicker__day-name, .react-datepicker__day {*/
/*    margin: 0.5rem !important;*/
/*}*/

.react-datepicker{
    font-family: "s-core-dream-regular","MalgunGothic","맑은 고딕","돋움","tahoma","sans-serif";
    font-size: 13px;
    line-height: 1.4;
    color: #333;
    letter-spacing: -0.7px;
    border:none;
    width: 100%;
}
.react-datepicker__header{
    background-color: #f5f5f5;
}
.react-datepicker__month-container{
    width: 100%;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 12%;margin: 0.29rem;
}
.saturday {
    color: rgb(0, 0, 255) !important;
}

.sunday {
    color: rgb(255, 0, 0) !important;
}

.react-datepicker__day--disabled {
    color: #cccccc !important;
}

