@font-face {
    font-family: 'noto';
    font-style: normal;
    font-weight: 100;
    src: url(../font/NotoSans-Thin.eot);
    src: url(../font/NotoSans-Thin.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSans-Thin.woff2) format('woff2'),
    url(../font/NotoSans-Thin.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'noto';
    font-style: normal;
    font-weight: 200;
    src: url(../font/NotoSans-Light.eot);
    src: url(../font/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSans-Light.woff2) format('woff2'),
    url(../font/NotoSans-Light.woff) format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'noto';
    font-style: normal;
    font-weight: 300;
    src: url(../font/NotoSans-DemiLight.eot);
    src: url(../font/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSans-DemiLight.woff2) format('woff2'),
    url(../font/NotoSans-DemiLight.woff) format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'noto';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NotoSans-Regular.eot);
    src: url(../font/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSans-Regular.woff2) format('woff2'),
    url(../font/NotoSans-Regular.woff) format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'noto';
    font-style: normal;
    font-weight: 500;
    src: url(../font/NotoSans-Medium.eot);
    src: url(../font/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSans-Medium.woff2) format('woff2'),
    url(../font/NotoSans-Medium.woff) format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'noto';
    font-style: normal;
    font-weight: 600;
    src: url(../font/NotoSans-Bold.eot),
    url(../font/NotoSans-Bold.woff2) format('woff2'),
    url(../font/NotoSans-Bold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'noto';
    font-style: normal;
    font-weight: 700;
    src: url(../font/NotoSans-Black.eot);
    src: url(../font/NotoSans-Black.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSans-Black.woff2) format('woff2'),
    url(../font/NotoSans-Black.woff) format('woff');
    font-display: swap;
}

/*에스코어드림*/
@font-face {
    font-family: 's-core-dream-thin';
    src: url('../font/scdream1.woff2') format('woff2'),
    url('../font/scdream1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 's-core-dream-extralight';
    src: url('../font/scdream2.woff2') format('woff2'),
    url('../font/scdream2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 's-core-dream-light';
    src: url('../font/scdream3.woff2') format('woff2'),
    url('../font/scdream3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 's-core-dream-regular';
    src: url('../font/scdream4.woff2') format('woff2'),
    url('../font/scdream4.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 's-core-dream-medium';
    src: url('../font/scdream5.woff2') format('woff2'),
    url('../font/scdream5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 's-core-dream-bold';
    src: url('../font/scdream6.woff2') format('woff2'),
    url('../font/scdream6.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 's-core-dream-extrabold';
    src: url('../font/scdream7.woff2') format('woff2'),
    url('../font/scdream7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 's-core-dream-heavy';
    src: url('../font/scdream8.woff2') format('woff2'),
    url('../font/scdream8.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 's-core-dream-black';
    src: url('../font/scdream9.woff2') format('woff2'),
    url('../font/scdream9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
