.loader_box{
    position: fixed;
    top: 0;
    left: 0;
    background: #666;
    opacity: 0.6;
    z-index: 998;
    height: 100%;
    width: 100%;
}

.loader{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 1000;
}
