.sub_container{margin:0 auto; padding:120px 20px; max-width:1320px; }
.sub_top_title{position:relative; z-index:2; margin-bottom:40px; line-height:1; font-size:42px; color:#222; font-family: 's-core-dream-bold';}
.sub_top_txt{position:relative; z-index:2; margin-bottom:100px; font-size:24px; }
.sub_cont_top{position:relative; z-index:1; padding:120px 20px 60px; overflow:hidden;}
.sub_cont_top:before{position:absolute; right:20px; top:25px; width:445px; height:288px; display:block; background:url(../../image/mentor_group_bg.jpg) no-repeat right 0; content:"";}
.sub_container{position:relative; z-index:1; overflow:hidden;}
.sub_container:before{position:absolute; right:20px; top:25px; width:445px; height:288px; display:block; background:url(../../image/mentor_group_bg.jpg) no-repeat right 0; content:"";}


.bbs_write table{position:Relative; z-index:1; margin-bottom:60px; border-top:2px solid #000;}
.bbs_write th{padding:18px 0 18px 40px; border-bottom:1px solid #dedede; text-align:left; font-family: 's-core-dream-medium'; font-size:18px; }
.bbs_write td{padding:18px 10px; border-bottom:1px solid #dedede; }
.bbs_write td select{max-width:420px; width:100%; height:56px; line-height:54px; font-size:18px; color:#aaa; border-radius:5px; }
.bbs_write td input[type=text]{width:100%; height:56px; line-height:54px; font-size:18px; color:#aaa; border-radius:5px; }
.bbs_write td textarea{padding:20px; width:100%; height:320px; font-size:18px; color:#aaa; box-sizing:border-box; border-radius:5px; }
.bbs_write td .cate{width:200px;}


.bbs_view{position:relative; z-index:2; }
.bbs_view .topTitleArea{padding:40px; border-top:2px solid #222; border-bottom:1px solid #ddd; }
.bbs_view .topTitleArea h2{font-size:24px; font-family: 's-core-dream-medium'; color:#222; }
.bbs_view .topTitleArea .date{margin-top:10px; display:block; font-size:16px; color:#888k; }
.bbs_viewCont{padding:40px; margin-bottom:40px; line-height:1.6; border-bottom:1px solid #ddd; }
.bbs_view .txt_c{margin-bottom:60px; text-align: center;}
.bbs_view .prev_next{ border-top:1px solid #ddd; }
.bbs_view .prev_next ul li{position:Relative; padding:30px 170px 30px 140px; border-bottom:1px solid #ddd; }
.bbs_view .prev_next a{font-size:16px; color:#222; }
.bbs_view .prev_next .title{position:absolute; left:0; top:30px; width:140px; font-size:16px; text-align:center; font-family: 's-core-dream-medium';}
.bbs_view .prev_next .date{position:absolute; right:0; top:30px; width:170px; font-size:16px; text-align:center; }

.bbs_view .bbs_attach_file{margin-bottom: 40px;padding-bottom:40px;border-bottom:1px solid #ddd;}

.add_result_popup .inner{width: 300px;}
.add_result_popup .popup_title{font-size: 15px;}

.reply_box{padding:30px}
.reply_box textarea{width: 75%;}
.reply_box .reply_add_btn{width: 20%;height: 52px;line-height: 52px;text-align: center;background-color: #009bcb;font-size: 15px;color: #fff;float: right;}
.basic-btn02{width:160px; height:60px; line-height:58px; display:inline-block; text-align:center; border-radius:5px; font-size:20px; box-sizing:border-box; vertical-align:top;cursor:pointer;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

.basic-btn04{margin:0 10px 10px; padding:0 50px; height:60px; line-height:58px; display:inline-block; text-align:center; border-radius:5px; font-size:18px; box-sizing:border-box; vertical-align:top; font-family: 's-core-dream-medium';cursor:pointer;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
.btn-gray-bd{ border:1px solid #adadad;}
.btn-blue-bg{ background-color:#4b8cf7; color:#fff;}
.btn-blue-bd{ border:1px solid #4b8cf7; color:#4b8cf7;margin-right: 4px;}
.btn-blue-bd:hover{background-color:#4b8cf7; color:#fff; }
.btn-black-bd{border:1px solid #222; }
.btn-black-bd:hover{background-color:#222; color:#fff; }



.reply_box{padding:10px;}
.reply_box .add_box{padding:20px 10px;}
.reply_box textarea{
    max-width: 77.2%;
    height: auto;
    min-height: 32px;
    line-height: 1.5715;
    vertical-align: bottom;
    -moz-transition: all 0.3s, height 0s;
    transition: all 0.3s, height 0s;}
.reply_box .reply_add_btn{width: 21.8%;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background-color: #009bcb;
    font-size: 15px;
    color: #fff;
    float: right;}

.reply_box .reply_content_box{padding:15px 10px;border-bottom: 1px solid #ddd;}
.reply_box .reply_content_box.rereply{padding:15px 0 15px 50px;}
.reply_box .reply_content_box .to_name{font-weight: 700;margin-right: 5px;}
.reply_box .reply_content_box .reply_content{white-space: pre;}
.reply_box .edit_box{padding: 15px 0 15px 80px;}
.reply_box .edit_box textarea{max-width:75%}
.reply_box .edit_box .reply_edit_btn{width: 11%;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background-color: #009bcb;
    border:1px solid #009bcb;
    font-size: 15px;
    color: #fff;
    margin-left: 1%;
}

.reply_box .edit_box .reply_cancel_btn{width: 11%;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background-color: white;
    font-size: 15px;
    color: black;
    margin-left: 1%;
    border: 1px solid gray;
}

.reply_box .reply_content_btn_box{margin-top:5px;}
.reply_box .reply_content_btn_box button{margin-right: 8px;color:gray;}

@media screen and (max-width: 1024px){
    .bbs_view .topTitleArea{padding:30px 0; }
    .bbs_viewCont{padding:30px 0; }
    .bbs_view .topTitleArea h2{font-size:20px; }
    .bbs_view .topTitleArea .date{font-size:14px; }
    .bbs_view .prev_next ul li{padding:20px 100px; }
    .bbs_view .prev_next .title{left:0; top:20px; width:100px; text-align:left; }
    .bbs_view .prev_next .date{right:0; top:20px; width:100px; text-align:right; }
}

@media screen and (max-width: 768px){
    .bbs_write table{margin-bottom:30px; border-top:none; }
    .bbs_write th{display:table; width:100%; font-size:16px; box-sizing:border-box; vertical-align:middle; border:none;}
    .bbs_write td{display:table; margin:10px 0;  padding:10px 0; width:100%; border:none;}
    .bbs_write td textarea{font-size:14px; padding:10px;  height:260px; }
    .bbs_write td input[type=text]{font-size:14px; height:40px; line-height:38px;}
    .bbs_write td select{font-size:14px; height:40px; line-height:38px;}


    .bbs_view .topTitleArea{padding:20px 0;}
    .bbs_view .topTitleArea h2{font-size:18px; }
    .bbs_viewCont{font-size:14px;}
    .bbs_view .prev_next ul li{padding:40px 0 10px; }
    .bbs_view .prev_next ul li .title{top:10px;}
    .bbs_view .prev_next ul li .date{top:10px; font-size:14px; }
    .bbs_view .prev_next a{font-size:14px;  display:block;
        text-overflow:ellipsis;
        white-space:nowrap;
        word-wrap:normal;
        overflow:hidden;
    }

    .basic-btn04{padding:0 20px; height:40px; line-height:38px; font-size:14px; }


}
