.header{text-align:center; background-color:#000;}
.header_inner{position:relative; padding:0 0 0 3%;  height:90px; box-sizing:border-box; }
.gnb{display:inline-block; padding-top:32px; vertical-align:top; }
.gnb>ul>li{float:left; padding:0 30px; }
.gnb>ul>li>a{font-family:"s-core-dream-medium"; color:#fff; font-size:18px; }
.s_gnb{position:absolute; left:0; top:0; display:none;}
.header .logo{position:absolute; left:3%; top:25px;}
.menu_open{position:absolute; right:0; top:0; z-index:12;}
.btn_menu_open{width:90px; height:90px; display:block; background-color:#4b8cf7;}
.btn_menu_open span{position:absolute; left:50%; top:33px; margin-left:-15px; width:30px; height:2px; background-color:#fff; display:block; text-indent:-9999px;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
.btn_menu_open span:before{position:absolute; left:50%; top:10px; margin-left:-12px; width:24px; height:2px; background-color:#fff; display:block; content:"";
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
-ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
.btn_menu_open span:after{position:absolute; left:50%; top:20px; margin-left:-15px; width:30px; height:2px; background-color:#fff; display:block; content:"";
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

.btn_menu_open.open span:before{width:0; display:none;}
.btn_menu_open.open span{top:42px; transform: rotate( -45deg );}
.btn_menu_open.open span:after{top:0; transform: rotate( 90deg );}
.login_box{position: absolute;right: 160px;top: 35px;}
.login_box a{color: white;margin-right: 30px;font-size: 15px;}
.language{position:absolute; right:110px; top:35px;}
.language_open{padding-right:15px; background:url(../../image/language_arrow.gif) no-repeat right center; font-size:15px; color:#ddd; }
.language_list{display:none;}
.total_menu{position:fixed; right:-350px; top:0; bottom:0; width:300px; height:100%; z-index:10; background-color:#f7f8fa; text-align:left; overflow:auto; box-shadow:5px 5px 5px 5px rgba(150,150,150,0.4);}
.total_menu .logoArea{padding:25px 20px 0; height:90px; background-color:#3d89f9; box-sizing:border-box; }
.total_menu>ul>li{border-bottom:1px solid #e0e1e5;}
.total_menu>ul>li>a{position:relative; padding:20px; display:block; font-size:15px; font-family:"s-core-dream-medium";}
.total_menu>ul>li>a:before{position:absolute; right:15px; top:50%; width:7px; height:1px; display:block; background-color:#333; content:""; transform: rotate( -45deg );}
.total_menu>ul>li>a:after{position:absolute; right:20px; top:50%; width:7px; height:1px; display:block; background-color:#333; content:""; transform: rotate( 45deg );}
.total_menu .s_menu{background-color:#fff;
    padding-left:20px;
    overflow-y: hidden;
    max-height: 0;
    transition-property: max-height;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0, 1, 0, 1);
}
.total_menu .s_menu.show{
    padding:20px;
    max-height: 500px; /* approximate max height */
    transition-property: max-height;
    transition-duration: 1.2s;
    transition-timing-function: linear;
}

.total_menu .s_menu>ul>li>a{padding:5px 0; display:block; font-size:14px; }

/*@-webkit-keyframes slide-up {*/
/*    0% { opacity: 1; -webkit-transform: translateY(-10%); }*/
/*    100% { opacity: 0; -webkit-transform: translateY(0); }*/
/*}*/
/*@-moz-keyframes slide-up {*/
/*    0% { opacity: 1; -moz-transform: translateY(-100%); }*/
/*    100% { opacity: 0; -moz-transform: translateY(0); }*/
/*}*/

/*@-webkit-keyframes slide-down {*/
/*    0% { opacity: 0; -webkit-transform: translateY(-10%); }*/
/*    100% { opacity: 1; -webkit-transform: translateY(0); }*/
/*}*/
/*@-moz-keyframes slide-down {*/
/*    0% { opacity: 0; -moz-transform: translateY(-100%); }*/
/*    100% { opacity: 1; -moz-transform: translateY(0); }*/
/*}*/

@media screen and (max-width: 1400px){

    /*header*/
    .gnb{display:none;}
}


@media screen and (max-width: 1360px){

}



@media screen and (max-width: 1240px){

}


@media screen and (max-width: 1024px){

}


@media screen and (max-width: 768px){

    /*header*/
    .header{text-align:left; }
    .header .logo{position:relative; left:0; top:0; padding:20px 0;}
    .header .logo img{width:190px;}
    .header_inner{height:70px;}
    .btn_menu_open{width:60px; height:70px; }
    .btn_menu_open span{top:22px;}
    .language{right:80px; top:25px;display: none; }
    .login_box{top: 26px;right: 60px;}
    .login_box a{margin-right: 15px;}



}
