.container{padding:40px 0 50px 90px; min-width:1290px; max-width:1290px; background-color:#f9faff; box-sizing:border-box; }
.top_title{margin-bottom:20px; font-size:25px; color:#222; line-height:1; font-weight:400; }
.box{padding:20px; box-shadow:2px 2px 3px 2px rgba(150,150,150,0.1); background-color:#fff; }
.mentor_info{margin-bottom:25px; }
.mentor_info>ul{float:left; }
.mentor_info>ul>li{float:left; position:relative; padding:0 15px; }
.mentor_info>ul>li:before{position:absolute; left:0; top:50%; margin-top:-13px; width:1px; height:26px; display:block; background-color:#d2d7df; content:"";}
.mentor_info>ul>li:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.mentor_info>ul>li:first-child:before{display:none;}
.mentor_info>ul>li .title{float:left; line-height:24px; display:block; font-size:14px; font-weight:200; }
/*.mentor_info>ul>li .icon_1{padding-left:34px; background:url(../../../image/admin/mentor_icon_1.png) no-repeat 0 center; }*/
/*.mentor_info>ul>li .icon_2{padding-left:34px; background:url(../../../image/admin/mentor_icon_2.png) no-repeat 0 center; }*/
/*.mentor_info>ul>li .icon_3{padding-left:34px; background:url(../../../image/admin/mentor_icon_3.png) no-repeat 0 center; }*/
.mentor_info>ul>li .number{float:right; margin-left:30px; line-height:1; display:block; font-size:14px; font-weight:200; }
.mentor_info>ul>li .number strong{font-size:24px; font-weight:400; vertical-align:bottom;}
.mentor_info .mentor_id_search{float:right; position:relative; width:640px; }
.mentor_info .mentor_id_search select{float:left; width:24.3%; height:35px; line-height:33px; background-color:#ebf0f9;margin-right: 0.5%}
.mentor_info .mentor_id_search input[type=text]{float:right; padding-right:39px;width:50%; height:35px; line-height:33px; box-sizing:border-box; }
.mentor_info .mentor_id_search .btn_search{position:absolute; right:1px; top:1px; width:40px; height:33px; }
.admin_cont{padding:30px 20px; background-color:#fff; box-shadow:2px 2px 3px 2px rgba(150,150,150,0.1); background-color:#fff; }
.txt_style_1{margin-bottom:15px; font-size:14px; font-weight:200; }
.title_style_1{position:relative; margin-bottom:40px; line-height:1; }
.title_style_1:before{position:absolute; left:0; bottom:0; width:100%; height:3px; background-color:#ebf0f9; display:block; content:"";}
.title_style_1 span{position:relative; z-index:2; padding:0 20px 10px 25px; display:inline-block; line-height:1; border-bottom:3px solid #4b8cf7; font-size:14px; color:#45546b;}

.tb_style_1{margin-bottom:60px;}
.tb_style_1 tr.assign_tr:hover{cursor: pointer;}
.tb_style_1 tr.assign_tr.disabled{background-color: rgba(203, 205, 209,0.8);}
.tb_style_1 tr.assign_tr.disabled:hover{cursor:not-allowed;}
.tb_style_1 tr.selected{background-color: rgba(75, 140, 247,0.8);}
.tb_style_1 th{position:relative; padding:10px; text-align:center; background-color:#f6f8f9; border-top:1px solid #d9e0e5; border-bottom:1px solid #d9e0e5; font-size:14px; color:#5d677b; font-weight:300; }
.tb_style_1 th:before{position:absolute; left:0; top:50%; margin-top:-10px; width:1px; height:20px; background-color:#c8c8c8; display:block; content:"";}
.tb_style_1 th:first-child:before{display:none;}
.tb_style_1 td{padding:15px 5px; text-align:center; border-bottom:1px solid #d9e0e5; font-size:14px; color:#596475; }
.tb_style_1 td .id_name{padding-left:36px; display:inline-block; line-height:30px; }
.tb_style_1 td.c-blue{color:#4b8cf7;}
.tb_style_1 td .state{padding:5px 24px; border-radius:20px; background-color:#dee9fb; color:#417dde;}


.tb_style_1.apply_form .mentor_id_search{float: right;
    position: relative;
    width: 640px;
    text-align: right;
    margin-bottom: 10px;}
.tb_style_1.apply_form .mentor_id_search select{width:24.3%; height:35px; line-height:33px; background-color:#ebf0f9;margin-right: 0.5%}
.tb_style_1.apply_form .mentor_id_search input[type=text]{float:right; padding-right:39px;width:50%; height:35px; line-height:33px; box-sizing:border-box; }
.tb_style_1.apply_form .mentor_id_search .btn_search{position:absolute; right:1px; top:1px; width:40px; height:33px; }

.mentor_detail h2{margin-bottom:10px; font-size:16px; font-weight:400; color:#222; }

.tb_style_2{margin-bottom:30px; }
.tb_style_2 table{border-top:1px solid #d9e0e5;}
.tb_style_2 th{padding:20px 15px; border-bottom:1px solid #d9e0e5; text-align:left; background-color:#f6f8f9; font-size:14px; color:#5d677b; font-weight:400; }
.tb_style_2 td{padding:10px 15px; border-bottom:1px solid #d9e0e5;}
.tb_style_2 td p{margin-left:20px; display:inline-block; font-size:14px; color:#596475;}
/*.tb_style_2 td span{margin-left:10px; display:inline-block; font-size:14px; color:#596475; height:32px; line-height: 30px;}*/
.tb_style_2 td select,
.tb_style_2 td input[type=text]{width:160px; height:32px; line-height:30px; box-sizing:border-box; vertical-align:top;}
.tb_style_2 td input[type=text].w_60{width:60px; }
.tb_style_2 td input[type=text].w_100p{width:100%;}
.tb_style_2 td .photoArea{margin:0 auto; position:relative; margin-bottom:20px; width:200px; height:200px; }
.tb_style_2 td .photoArea .photo{width:200px; height:200px; border-radius:50%;}
.tb_style_2 td .photoArea .photo_open{position:absolute; right:0; bottom:0; }
.tb_style_2 td .photo_info{text-align:center; font-size:14px; font-weight:200; }
.tb_style_2 td.bd_left{border-left:1px solid #d9e0e5;}

.photo_img{
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    margin:0 auto;
}
.photo_img img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.btn-box01{text-align: right;margin-top:20px;}
.basic-btn01{background-color: #009bcb; padding:8px 18px; color:white;box-sizing: border-box;margin:3px;border-radius: 5px;}
.basic-btn01:hover{color:white;}
.basic-btn02{padding:8px 16px;border: 1px solid gray;box-sizing: border-box;margin:3px;border-radius: 5px;}
/*.basic-btn02:hover{color:black;}*/

.basic-btn03{background-color: white; padding:8px 18px; color:#ff4d4f;box-sizing: border-box;margin:3px;border-radius: 5px;border: 1px solid #ff4d4f;margin-left: 10px;}
.basic-btn03:hover{background-color: #ff4d4f;color:white}

/*.basic-btn01{width:70px; height:35px; line-height:33px; text-align:center; border:1px solid #afb6c5; box-sizing:border-box; font-size:14px; font-weight:200; border-radius:3px; vertical-align:top;}*/
.basic-btn02{min-width:150px; padding:0 20px; height:50px; line-height:50px; text-align:center; box-sizing:border-box; font-size:14px; font-weight:400; border-radius:3px; display:inline-block; vertical-align:top;}
.basic-btn02[type=submit]{color:white;}
.btn-blue-bd{border:1px solid #4b8cf7; color:#4b8cf7;}
.btn-gray-bd{border:1px solid #afb6c5; color:#afb6c5;}
.btn-gray-bd2{border:1px solid #5d677b; color:#5d677b;}
.btn-gray-bg{background-color:#5d677b; color:#fff;}

.paging{text-align:center; }
.paging a{margin:0 3px; width:40px; height:40px; line-height:40px; text-align:center; border:1px solid #ddd; display:inline-block; font-size:12px; }
.paging a img{vertical-align:top;}
.paging .on{border:1px solid #222; color:#222; }

.tb_style_2 td .tag {border: 1px solid lightgray;padding: 4px 8px;margin: 3px 4px;display: inline-block; border-radius: 2px;box-sizing: border-box;cursor: pointer;line-height: unset;}
.tb_style_2 td .tag.checked{background-color: #4b8cf7;color: white;border-color: transparent;}

.counsel_field_box{padding:10px;}
.counsel_keyword_box{padding:10px;}
.counsel_keyword_box .site-tag-plus{padding: 4px 8px;margin: 3px 4px;border-radius: 3px;background-color: white;cursor: pointer;line-height: unset;}
.counsel_keyword_box input{width: auto;vertical-align: top;display: inline-block;border-radius: 2px;height: 29px;padding: 4px 8px;margin: 3px 4px;}
.counsel_keyword_box input div{line-height: 0;}
.counsel_keyword_box .edit-tag{padding: 4px 8px;margin: 3px 4px;border-radius: 2px;background-color: white;cursor: pointer;line-height: unset;background-color: #4b8cf7;color: white;border-color: transparent;line-height: 18px;}
.counsel_keyword_box .edit-tag span{line-height: 18px;color: white;height: auto;font-weight: 200;}
.counsel_keyword_box .edit-tag span:first-child{margin-right: 4px;}


.career_box{padding:10px;}
.career_box .site-tag-plus{padding: 4px 8px;margin: 3px 4px;border-radius: 3px;background-color: white;cursor: pointer;line-height: unset;}
.career_box input{width: auto;vertical-align: top;display: inline-block;border-radius: 2px;height: 29px;padding: 4px 8px;margin: 3px 4px;}
.career_box input div{line-height: 0;}
.career_box .edit-tag{padding: 4px 8px;margin: 3px 4px;border-radius: 2px;background-color: white;cursor: pointer;line-height: unset;background-color: #4b8cf7;color: white;border-color: transparent;line-height: 18px;}
.career_box .edit-tag span{line-height: 18px;color: white;height: auto;font-weight: 200;}
.career_box .edit-tag span:first-child{margin-right: 4px;}


.photoArea .photo_img img{border-radius: 100px;}
.photoArea a{position:absolute; right:0; bottom:0; }
.photoArea .size_info{font-size:15px; color:#888; line-height:1.8; }


.mentor_popup h2{font-size: 18px;margin-bottom: 20px;}
.mentor_popup .warning{font-size: 14px; color: #FF5733;}
.mentor_popup .btn_box{text-align: center;padding:20px;}
.mentor_popup .close_btn{width:100px; height:30px; line-height:30px; display:inline-block; text-align:center; border-radius:3px; font-size:15px; box-sizing:border-box; vertical-align:top; font-family: 's-core-dream-medium';cursor:pointer;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    border:1px solid #333;
    color: #333;
}


.mentor_popup .basic-btn01{width:70px; height:35px; line-height:unset; text-align:center; border:1px solid #afb6c5; box-sizing:border-box; font-size:14px; font-weight:200; border-radius:3px; vertical-align:top;}
.mentor_popup .btn-gray-bd{border:1px solid #afb6c5; color:#afb6c5;}


