.sub_cont{margin:0 auto; padding:60px 20px; max-width:1320px; }
.container{max-width: 1300px; width: 100%; margin: 0 auto; box-sizing: border-box; }
.bg_gray{background-color: #fafafa; }

.sub_container{margin:0 auto; padding:120px 20px; max-width:1320px; }
.sub_top_title{position:relative; z-index:2; margin-bottom:40px; line-height:1; font-size:42px; color:#222; font-family: 's-core-dream-bold';}
.sub_top_txt{position:relative; z-index:2; margin-bottom:100px; font-size:24px; }
.sub_cont_top{position:relative; z-index:1; padding:120px 20px 60px; overflow:hidden;}
.sub_cont_top:before{position:absolute; right:20px; top:25px; width:445px; height:288px; display:block; background:url(../../image/mentor_group_bg.jpg) no-repeat right 0; content:"";}
.sub_container{position:relative; z-index:1; overflow:hidden;}
.sub_container:before{position:absolute; right:20px; top:25px; width:445px; height:288px; display:block; background:url(../../image/mentor_group_bg.jpg) no-repeat right 0; content:"";}

.sub_banner_wrap{width: 100%; height: 280px; background-color: #1e4b82; }
.sub_banner{display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; background: url("/assets/image/main_banner_1.jpg") no-repeat center center; background-size: cover; }
.sub_banner .txt_wrap{display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
.sub_banner .txt_wrap h3{font-size: 36px; font-family: "s-core-dream-bold"; color: #fff; }
.navi_wrap{width: 100%; border-bottom: 1px solid #ddd; }
.navi_wrap .navi{}
.navi_wrap .navi>ul{display: flex; }
.navi_wrap .navi>ul>li{padding: 20px 15px; text-align: center; }
.navi_wrap .navi>ul>li.on{background-color: #1b67ae; }
.navi_wrap .navi>ul>li a{font-size: 18px; font-family: "s-core-dream-medium"; }
.navi_wrap .navi>ul>li.on a{color: #fff; }

.txt_style_1{position:relative; margin:25px 0; padding-left:400px; }
.txt_style_1 .left_title{position:absolute; left:0; top:0; width:100%; }
.txt_style_1 .left_title p{padding-top:10px; font-size:16px; }

/*About*/
.about_cont_wrap{position: relative; padding: 60px 0 120px; }
.about_cont_wrap .title_wrap{margin-bottom: 20px; }
.about_cont_wrap .title_wrap>h3{font-size: 32px; font-family: 's-core-dream-bold'; }
.about_cont{position: relative; z-index: 5; margin-bottom: 40px; }
.about_cont:last-child{margin-bottom: 0; }
.about_cont>h5{position: relative; padding-left: 25px; font-size: 21px; font-family: 's-core-dream-bold'; margin-bottom: 20px; }
.about_cont>h5::before{content: ""; position: absolute; top: 5px; left: 0; width: 18px; height: 14px; background: url("/assets/image/check_blue.png") no-repeat 0 0; }
.about_cont>p{font-size: 18px; }
.about_intro{display: flex; justify-content: space-between; }
.about_intro .ceo_img{width: 45%; margin-right: 20px; }
.about_intro .ceo_com{width: 50%; }
.about_intro .ceo_com p{font-size: 18px; line-height: 1.5; margin-bottom: 30px; }
.about_intro .ceo_sign{text-align: right; }
.about_intro .ceo_sign img{margin-bottom: 10px; }
.about_intro .ceo_sign h3{font-size: 18px; font-family: "s-core-dream-bold"; margin-bottom: 5px; }
.about_intro .ceo_sign p{font-size: 16px; line-height: 1.4; margin-bottom: 0; }
.about_list .list_area>li{position: relative; font-size: 18px; margin-bottom: 5px; padding-left: 15px; }
.about_list .list_area>li:last-child{margin-bottom: 0; }
.about_list .list_area>li:before{content: ""; position: absolute; top: 6px; left: 0; width: 9px; height: 9px; background: url("/assets/image/bulilt_1.png") no-repeat center center; }
.about_mission>ul>li{display: flex; align-items: center; margin-bottom: 40px; }
.about_mission>ul>li:last-child{margin-bottom: 0; }
.about_mission>ul>li img{margin-right: 30px; }
.about_mission>ul>li p{font-size: 18px; }
.about_cont .tb_style_1 table{border-top: 2px solid #222; border-bottom: 2px solid #222; }
.about_cont .tb_style_1 tr{border-bottom: 1px solid #ddd; }
.about_cont .tb_style_1 th{padding: 20px 2px; border-right: 1px solid #ddd; background-color: #fafafa; font-size: 16px; font-family: 's-core-dream-bold'; text-align: center; }
.about_cont .tb_style_1 td{padding: 20px 10px; border-right: 1px solid #ddd; font-size: 16px; }
.about_cont .tb_style_1 td.txt_c{font-family: 's-core-dream-medium'; text-align: center; }
.about_cont .tb_style_1 td:last-child{border-right: 0; }

.about_cont .tb_area{margin-top: 25px;}
.about_cont .tb_area>h3{font-size: 24px; margin-bottom: 10px; text-align: center; }
.about_cont .tb_area>h3>strong{color: #ff8b1b; }
.about_cont .tb_area table{border-top: 2px solid #333; border-bottom: 2px solid #333; box-sizing: border-box; }
.about_cont .tb_area th{text-align: center; font-size: 16px; padding: 15px 10px;}
.about_cont .tb_area td{text-align: center; font-size: 16px; padding: 15px 10px; border-top: 1px solid #ddd; box-sizing: border-box; }

.orga_cont_wrap{position: relative; padding: 60px 0 120px; }
.orga_cont .orga_img{text-align: center; }

/*Contact*/
.contact_cont_wrap{position: relative; padding: 60px 0 120px; }
.contact_cont .contact_map{margin-bottom: 30px; }
.contact_cont .contact_map .map_area{width:100%; height:480px; }
.contact_cont .contact_address{margin-bottom: 40px; }
.contact_cont .contact_address>ul>li{display: flex; align-items: center; margin-bottom: 20px; }
.contact_cont .contact_address>ul>li:last-child{margin-bottom: 0; }
.contact_cont .contact_address>ul>li .icon{width: 35px; margin-right: 20px; }
.contact_cont .contact_address>ul>li p{width: calc(100% - 55px); font-size: 18px; font-family: 's-core-dream-medium'; }
.contact_cont .contact_qr{display: flex; align-items: center; }
.contact_cont .contact_qr .qr_img{width: 100px; margin-right: 20px; }
.contact_cont .contact_qr p{font-size: 18px; }
.contact_cont .contact_qr p strong{font-family: 's-core-dream-bold'; }

.infrastructure_btm .left_area{float:left; padding-bottom:40px; width:47.72%;}
.infrastructure_btm .right_area{float:right; padding-bottom:40px; width:47.72%;}
.infrastructure_btm h2{margin-bottom:15px; font-size:24px; font-family: 's-core-dream-medium';}
.infrastructure_btm ul:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.infrastructure_btm ul li{float:left; width:46.82%;}
.infrastructure_btm ul li:nth-child(2n){float:right; }
.infrastructure_btm .txt{padding-top:20px; display:block; font-size:16px; color:#666; }


/*Academic_1*/
.academic_cont_wrap{position: relative; padding: 60px 0 120px; }
.academic_cont_wrap .title_wrap{margin-bottom: 80px; }
.academic_cont_wrap .title_wrap>h3{font-size: 32px; font-family: 's-core-dream-bold'; }
.academic_cont_wrap .title_wrap>p{font-size: 18px; }
.academic_cont{margin-bottom: 40px; }
.academic_cont:last-child{margin-bottom: 0; }
.academic_cont .tb_style_1 table{border-top: 2px solid #222; border-bottom: 2px solid #222; }
.academic_cont .tb_style_1 tr{border-bottom: 1px solid #ddd; }
.academic_cont .tb_style_1 th{padding: 20px 2px; border-right: 1px solid #ddd; background-color: #fafafa; font-size: 16px; font-family: 's-core-dream-bold'; text-align: center; }
.academic_cont .tb_style_1 th:last-child{border-right: 0; }
.academic_cont .tb_style_1 tbody th:last-child{border-right: 1px solid #ddd; }
.academic_cont .tb_style_1 td{padding: 20px 10px; border-right: 1px solid #ddd; font-size: 16px; text-align: center; }
.academic_cont .tb_style_1 td:last-child{border-right: 0; }
.academic_cont .tb_style_1 td.bd_r{border-right: 1px solid #ddd; }
.academic_cont .tb_style_1 td .process{display: flex; justify-content: space-evenly; }
.academic_cont .tb_style_1 td .process>li{position: relative; display: flex; justify-content: center; align-items: center; width: 15%; height: auto; aspect-ratio: auto 1/1; border-radius: 50%; background-color: #1b67ae; font-size: 16px; font-family: 's-core-dream-medium'; color: #fff; text-align: center; box-sizing: border-box; }
.academic_cont .tb_style_1 td .process>li::after{content: ""; position: absolute; top: 50%; right: -32%; transform: translateY(-50%) rotate(-90deg); width: 14px; height: 9px; background: url("/assets/image/arrow.png") no-repeat 0 0; }
.academic_cont .tb_style_1 td .process>li:last-child::after{display: none; }
.academic_cont .tb_style_1 td .dot{text-align: left; padding: 0 10px; }
.academic_cont .tb_style_1 td .dot>li{position: relative; padding-left: 20px; margin-bottom: 10px; font-size: 16px; }
.academic_cont .tb_style_1 td .dot>li:last-child{margin-bottom: 0; }
.academic_cont .tb_style_1 td .dot>li::before{content: ""; position: absolute; top: 7px; left: 0; width: 5px; height: 5px; border-radius: 50%; background-color: #1b67ae; }
.academic_cont.half{display: flex; margin-bottom: 80px; }
.academic_cont.half:last-child{margin-bottom: 0; }
.academic_cont.half .cont_left{width: 390px; margin-right: 10px; }
.academic_cont.half .cont_left h3{font-size: 28px; font-family: 's-core-dream-medium'; }
.academic_cont.half .cont_right{width: calc(100% - 400px); }
.academic_cont.half .cont_right p{font-size: 18px; }
.academic_cont.half .cont_right span{font-size: 16px; }
.academic_cont.half .cont_right strong{font-family: 's-core-dream-bold'; }
.academic_cont.half .cont_right a{font-size: 18px; }
.academic_cont.half .cont_right ul li{position: relative; padding-left: 20px; margin-bottom: 15px; font-size: 18px; }
.academic_cont.half .cont_right ul li:before{content: ""; position: absolute; top: 6px; left: 0; width: 9px; height: 9px; background: url("/assets/image/bulilt_1.png") no-repeat center center; }
.academic_cont.half .cont_right .link_btn a{display: inline-block; padding: 0 20px; height: 45px; background-color: #0069f8; border-radius: 5px; font-size: 18px; color: #fff; text-align: center; line-height: 45px; }

.portfolio_cont_wrap{position: relative; padding: 60px 0 120px; }
.portfolio_cont_wrap .title_wrap{margin-bottom: 40px; }
.portfolio_cont_wrap .title_wrap>h3{font-size: 32px; font-family: 's-core-dream-bold'; }
.portfolio_cont_wrap .title_wrap>p{font-size: 18px; }
.portfolio_cont{margin-bottom: 80px; }
.portfolio_cont:last-child{margin-bottom: 0; }
.portfolio_cont .portfolio_amount{display: flex; justify-content: space-between; }
.portfolio_cont .portfolio_amount>li{display: flex; flex-direction: column; justify-content: space-between; align-items: center; width: 30%; height: 180px; border: 2px solid #1b67ae; padding: 20px 15px; text-align: center; box-sizing: border-box; }
.portfolio_cont .portfolio_amount>li h3{font-size: 21px; font-family: "s-core-dream-medium"; }
.portfolio_cont .portfolio_amount>li span{font-size: 14px; margin-bottom: 25px; }
.portfolio_cont .portfolio_amount>li h5{font-size: 24px; font-family: "s-core-dream-bold"; }
.portfolio_cont .portfolio_amount>li p{font-size: 18px; }
.portfolio_cont .company_list>ul{display: flex; flex-wrap: wrap; gap: 1.3333%; }
.portfolio_cont .company_list>ul>li{position: relative; width: 24%; border-radius: 30px; padding: 30px; background-color: #fff; margin-bottom: 1.5%; box-shadow: 0px 5px 30px rgb(0 0 0 / 8%); overflow: hidden; box-sizing: border-box; }
.portfolio_cont .company_list>ul>li .img_area{text-align: center; padding-bottom: 60px; }
.portfolio_cont .company_list>ul>li .img_area img{width: 85%;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
.portfolio_cont .company_list>ul>li:hover .img_area img{transform: scale(1.1); }
.portfolio_cont .company_list>ul>li .category{position: absolute; bottom: 20px; left: 30px; z-index: 5; }
.portfolio_cont .company_list>ul>li .category .top_cate{display: inline-block; padding: 6px 16px; border: 1px solid #0069f8; margin-bottom: 5px; font-size: 16px; color: #0069f8; line-height: 1; }
.portfolio_cont .company_list>ul>li .category>ul{display: flex; flex-wrap: wrap; }
.portfolio_cont .company_list>ul>li .category>ul>li{display: inline-block; padding: 6px 16px; border: 1px solid #ddd; background-color: #fafafa; margin-right: 5px; font-size: 16px; line-height: 1; }
.portfolio_cont .company_list>ul>li .category>ul>li:last-child{margin-right: 0; }

/*Seed Project*/
.sub_cont.seed_cont{padding-top: 0; }
.seed_cont .tabTitle>ul{display: flex; flex-wrap: wrap; }
.seed_cont .tabTitle>ul>li{flex-basis: 25%; height: 60px; text-align: center; border: 1px solid #ddd; box-sizing: border-box; }
.seed_cont .tabTitle>ul>li:nth-child(5),
.seed_cont .tabTitle>ul>li:nth-child(6),
.seed_cont .tabTitle>ul>li:last-child{flex-basis: 33.333%; }
.seed_cont .tabTitle>ul>li.on{border-color: #3d89f9; }
.seed_cont .tabTitle>ul>li.on span{color: #3d89f9; }
.seed_cont .tabTitle>ul>li button{width: 100%; height: 100%; }
.seed_cont .tabTitle>ul>li span{font-size: 18px; font-family: 's-core-dream-medium'; color: #aaa; }
.tabCont>div{display:none;}
.tabCont>div.show{display:block; margin-bottom: 40px;}
.seed_cont .tabCont .left_title{margin-top: 60px; }
.seed_cont .tabCont .title_style_2{font-size: 33px; font-family: 's-core-dream-bold'; margin-bottom: 50px; }
.seed_cont .tabCont .txtArea>ul>li{margin-bottom: 50px; }
.seed_cont .tabCont .txtArea .title_style_4{font-size: 28px; margin-bottom: 10px; }
.seed_cont .tabCont .txtArea .title_style_5{font-size: 24px; margin-bottom: 10px; }
.seed_cont .tabCont .txtArea p{font-size: 18px; ;}
.seed_cont .tabCont .txtArea p>strong{color: #ff8b1b; }
.seed_cont .tabCont .txtArea>ul>li>ul>li{position: relative; font-size: 18px; padding-left: 20px; margin-top: 5px; }
.seed_cont .tabCont .txtArea>ul>li>ul>li:before{content: ""; position: absolute; top: 6px; left: 0; width: 9px; height: 9px; background: url("/assets/image/bulilt_1.png") no-repeat center center; }
.seed_cont .tabCont .txtArea .tb_style_1{margin-top: 10px; margin-bottom: 30px; }
.seed_cont .tabCont .txtArea .tb_style_1 table{border-top: 2px solid #333; border-bottom: 2px solid #333; box-sizing: border-box; }
.seed_cont .tabCont .txtArea .tb_style_1 th{padding: 15px 10px; font-size: 16px; font-family: 's-core-dream-bold'; text-align: center; border-bottom: 2px solid #333; border-right: 1px solid #ddd; box-sizing: border-box; }
.seed_cont .tabCont .txtArea .tb_style_1 th:last-child{border-right: 0; }
.seed_cont .tabCont .txtArea .tb_style_1 td{padding: 15px 10px; font-size: 16px; text-align: center; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; }
.seed_cont .tabCont .txtArea .tb_style_1 td:last-child{border-right: 0; }
.seed_cont .tabCont .txtArea .tb_style_1 tr:last-child td{border-bottom: 0; }
.seed_cont .tabCont .txtArea .tb_style_2 td:last-child{text-align: left; padding-left: 25px; }
.seed_cont .tabCont .txtArea .tb_style_3 td:first-child{font-family: 's-core-dream-bold'; }
.seed_cont .tabCont .txtArea .process_list_wrap{display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 20px; }
.seed_cont .tabCont .txtArea .process_list{display: flex; justify-content: center; align-items: center; flex-basis: 250px; height: 250px; border-radius: 50%; background-color: #fff; font-size: 24px; text-align: center; box-shadow: 5px 5px 10px rgba(0,0,0,.2); }


/*Portfolio*/
.search_type_2{position:relative; margin:0 auto 40px; padding-right:130px;  max-width:1220px; box-sizing:border-box; }
.search_type_2:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
.search_type_2 .search_01{float:left; margin-right:0.93%; width:19%; height:56px; line-height:54px; font-size:18px; border: 1px solid lightgray;padding-left: 10px;}

.search_type_2 select{float:left; margin-right:0.93%; width:16.5%; height:56px; line-height:54px; font-size:18px; }
.search_type_2 select.long{width:22%;}
.search_type_2 input[type=text]{float:left; width:42.2%; height:56px; line-height:54px; font-size:18px; }
.search_type_2 .btn_search{position:absolute; right:0; top:0; width:120px; height:56px; line-height:54px; text-align:center; border:1px solid #0069f8; font-size:18px; color:#0069f8; font-family: 's-core-dream-medium'; border-radius:5px; }
.checkbox_g{display: block;width: 400px;border: 1px solid gray;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    border: solid 1px #ddd;
}
.checkbox_g label{width: 32%;
    padding-left: 10px;
    margin-right: 0px;
}
.bbs_tb_list{margin-bottom:50px; }
.bbs_tb_list th{padding:15px 0; text-align:center; border-top:2px solid #333; border-bottom:1px solid #ddd;  font-size:16px; }
.bbs_tb_list td{padding:14px 5px; text-align:center; border-bottom:1px solid #ddd; font-size:16px; word-break:break-all;}
.bbs_tb_list td:last-child a{margin-left: 5px;}
.bbs_tb_list td button,
.bbs_tb_list td a{font-size:16px; }
.bbs_tb_list td.icon img{width:20px; }

.promotion .left_title h3{font-size:32px; font-family: 's-core-dream-medium';}
.promotion .left_title span{display:block; font-size:24px; color:#0069f8; font-family: 's-core-dream-medium';}
.promotion .vedioArea{position:relative; max-width:854px; padding-bottom:56.2%; display:block; }
.promotion .vedioArea img, .promotion .vedioArea iframe{position:absolute; left:0; top:0; bottom:0; width:100%; height:100%;}
.promotion .brochure_list li{float:left; margin-right:30px; }
.promotion .brochure_list li span{margin-bottom:15px; display:block; font-size:18px; font-family: 's-core-dream-medium';}
.promotion .brochure_list li a{width:180px; height:60px; line-height:58px; border:1px solid #222; display:inline-block; border-radius:5px; font-size:18px; color:#222; font-family: 's-core-dream-medium'; text-align:center;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
.promotion .brochure_list li a:hover{background-color:#222; color:#fff;}
.promotion .txt_style_1{margin:0 0 60px; }
.promotion .ci_list>div{float:left; width:47.8%;}
.promotion .ci_list>div.right_ci{float:right; }
.promotion .ci_list li{margin-bottom:40px; }


.startup_support_step>ol>li{position:relative; margin-bottom:50px; padding:0 0 0 400px; min-height:255px; }
.startup_support_step>ol>li:last-child .list{padding-top: 55px;}
.startup_support_step>ol>li .step{position:absolute; left:80px; top:50%; margin-top:-127px; width:220px; height:255px;text-align:center; background:url(../../image/startup_support_bg1.jpg) no-repeat center center; display:table;}
.startup_support_step>ol>li:nth-child(2) .step{background:url(../../image/startup_support_bg2.jpg) no-repeat center center;}
.startup_support_step>ol>li:nth-child(3) .step{background:url(../../image/startup_support_bg3.jpg) no-repeat center center;}
.startup_support_step>ol>li:nth-child(4) .step{background:url(../../image/startup_support_bg4.jpg) no-repeat center center;}
.startup_support_step>ol>li .step span{display:table-cell; vertical-align:middle; font-size:24px; color:#b6daff;  font-family: 's-core-dream-medium';}
.startup_support_step>ol>li .step span strong{display:block; font-size:32px; color:#fff;  font-weight:normal;}
.startup_support_step .list>ul>li{position:relative; padding:30px 0 30px 190px; min-height:80px; border-bottom:1px solid #ddd; }
.startup_support_step .list>ul>li>ul>li{position:Relative; padding:5px 0 5px 110px; font-size:18px; color:#666;}
.startup_support_step .list>ul>li>ul>li .s_title{position:absolute; left:0;  top:5px; font-size:18px; color:#222; font-family: 's-core-dream-medium';}
.startup_support_step .list .title{position:absolute; left:0; top:34px; font-size:18px; color:#86b2fa; font-family: 's-core-dream-medium';}
.startup_support_step .list .title span{display:block; font-size:24px; color:#0069f8;}


.basic-btn03{width:200px; height:60px; line-height:58px; display:inline-block; text-align:center; border-radius:5px; font-size:18px; box-sizing:border-box; vertical-align:top; font-family: 's-core-dream-medium';cursor:pointer;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
.btn-blue-bd{ border:1px solid #4b8cf7; color:#4b8cf7;}
.btn-blue-bd:hover{background-color:#4b8cf7; color:#fff; }

@media screen and (max-width: 1300px){
    .container{padding: 0 20px; }
}

@media screen and (max-width: 1240px){

    .infrastructure_top{padding:0 0 30px; text-align:center; }
    .infrastructure_top .img_area{margin-bottom:30px; }
    .infrastructure_list:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
    .infrastructure_list>li{position:relative; float:left; left:0; top:0; margin:0 2% 20px 0; width:32%; text-align:left; }
    .infrastructure_list>li:nth-child(3n){margin-right:0; }
    .infrastructure_list>li.list_2, .infrastructure_list>li.list_3,.infrastructure_list>li.list_4,.infrastructure_list>li.list_5,.infrastructure_list>li.list_6{left:0; top:0; right:auto; }

    .startup_support_step>ol>li{padding-left:280px; }
    .startup_support_step>ol>li .step{left:0; }
}

@media screen and (max-width: 1200px) {
    .portfolio_cont .company_list>ul>li{width: 32.444%; }
}


@media screen and (max-width: 1024px){
    .sub_container{padding:80px 20px; }
    .sub_top_title{font-size:32px; }
    .sub_top_txt{margin-bottom:50px; font-size:18px; }

    .sub_cont_top:before,
    .sub_container:before{right:-120px; }
    .tab_style_1 ul li{width:25%;}

    .navi_wrap .container{padding: 0; }
    .navi_wrap .navi>ul{flex-wrap: wrap; }
    .navi_wrap .navi>ul>li{width: 33%; }
    .navi_wrap .navi>ul>li a{font-size: 16px; }

    .txt_style_1 .left_title{position:relative; width:100%; margin-bottom:30px; }
    .txt_style_1{padding-left:0; }
    .txt_style_1 .left_title{width:100%; }


    .seed_cont .tabTitle>ul>li,
    .seed_cont .tabTitle>ul>li:nth-child(5),
    .seed_cont .tabTitle>ul>li:nth-child(6){flex-basis: 50%; }
    .seed_cont .tabTitle>ul>li:last-child{flex-basis: 100%; }
    .seed_cont .tabCont .txtArea .process_list{margin-bottom: 30px; }


    .search_type_2 select,
    .search_type_2 input[type=text],
    .search_type_2 .btn_search{font-size:16px;}
    .search_type_2 .search_01{font-size: 14px;}
    .bbs_tb_list th{font-size:14px;}
    .bbs_tb_list td button,
    .bbs_tb_list td a,
    .bbs_tb_list td{font-size:14px;}

    .contact_list_flex{flex-wrap: wrap; }
    .contact_list_flex>p{flex-basis: 180px; }

    .infrastructure_list>li .title{padding:10px 15px; font-size:16px; }
    .infrastructure_list>li>ul{padding:15px; }
    .infrastructure_list>li>ul>li{font-size:14px; }
    .infrastructure_list>li .s_title{font-size:16px; }
    .infrastructure_btm .left_area{width:49%; }
    .infrastructure_btm .right_area{width:49%; }
    .infrastructure_btm ul li{width:49%; }
    .infrastructure_btm h2{font-size:20px; }
    .infrastructure_btm .txt{padding-top:10px; font-size:14px; }

    .location .left_title h3{margin-bottom:20px; font-size:26px;}
    .location .left_title .btn_area li{margin-right:10px; display:inline-block; }
    .location .left_title .btn_area a{width:300px; height:50px; line-height:48px; font-size:16px; }
    .location_wrap .map_area{margin-top: 0;}
    .location_wrap .txt_style_1 .left_title{top: 620px;}

    .ceo_info{float:none; margin-bottom:40px; width:100%; }
    .ceo_txt{float:none; width:100%; }
    .history_list>ul{float:none; width:100%; }
    .briefing .left_area{float:none; margin-bottom:40px; width:100%; }
    .briefing_list{float:none; width:100%; }
    .vision_list>li{float:none; padding:5px 0 0 100px; width:100%; font-size:20px; padding-right:0;}
    .vision_list>li.icon_1{background:url(../../image/mission_icon_1.jpg) no-repeat 0 0;}
    .vision_list>li.icon_2{background:url(../../image/mission_icon_2.jpg) no-repeat 0 0;}
    .vision_list>li.icon_3{background:url(../../image/mission_icon_3.jpg) no-repeat 0 0;}
    .vision_list>li.icon_4{background:url(../../image/mission_icon_4.jpg) no-repeat 0 0;}
    .vision_list>li.icon_5{background:url(../../image/mission_icon_5.jpg) no-repeat 0 0;}
    .introduction h2{font-size:28px; }

    .promotion .left_title span{font-size:20px; }
    .promotion .left_title h3{font-size:32px; }

    .startup_support_step>ol>li{padding-left:0; }
    .startup_support_step>ol>li .step{position:relative; top:0; margin:0 auto;}

}


@media screen and (max-width: 768px){
    .navi_wrap .navi>ul>li{width: 50%; }
    .navi_wrap .navi>ul>li a{font-size: 14px; }

    .about_intro{flex-direction: column; }
    .about_intro .ceo_img{width: 100%; margin-right: 0; margin-bottom: 40px; }
    .about_intro .ceo_img img{width: 60%; }
    .about_intro .ceo_com{width: 100%; }
    .about_cont_wrap .title_wrap>h3{font-size: 26px; }

    .contact_cont .contact_map .map_area{height: 260px; }
    .contact_cont .contact_address>ul>li p{font-size: 16px; }
    .contact_cont .contact_qr{display: flex; flex-direction: column; align-items: flex-start; }
    .contact_cont .contact_qr .qr_img{margin-right: 0; margin-bottom: 20px; }
    .contact_cont .contact_qr p{font-size: 16px; }

    .academic_cont_wrap .title_wrap>h3{font-size: 26px; }
    .academic_cont_wrap .title_wrap>p{font-size: 16px; }
    .academic_cont .tb_style_1{width: 100%; overflow-x: scroll; }
    .academic_cont .tb_style_1 table{width: 900px; }
    .academic_cont .tb_style_1 td .process{justify-content: space-between; }
    .academic_cont .tb_style_1 td .process>li{width: 20%; font-size: 14px; }
    .academic_cont .tb_style_1 td .process>li::after{right: -25%; }
    .academic_cont.half{flex-direction: column; }
    .academic_cont.half .cont_left{width: 100%; margin-right: 0; margin-bottom: 20px; }
    .academic_cont.half .cont_left h3{font-size: 21px; }
    .academic_cont.half .cont_right{width: 100%; }
    .academic_cont.half .cont_right p{font-size: 16px; }
    .academic_cont.half .cont_right a{font-size: 16px; }
    .academic_cont.half .cont_right span{font-size: 14px; }
    .academic_cont.half .cont_right ul li{font-size: 16px; }
    .academic_cont.half .cont_right .link_btn a{height: 40px; }

    .portfolio_cont_wrap .title_wrap>h3{font-size: 26px; }
    .portfolio_cont .portfolio_amount{flex-direction: column; }
    .portfolio_cont .portfolio_amount>li{justify-content: flex-start; width: 100%; height: auto; margin-bottom: 40px; }
    .portfolio_cont .portfolio_amount>li:last-child{margin-bottom: 0; }
    .portfolio_cont .portfolio_amount>li h3{font-size: 18px; }
    .portfolio_cont .portfolio_amount>li h5{font-size: 21px; }
    .portfolio_cont .company_list>ul>li{width: 49.3%; border-radius: 20px; }
    .portfolio_cont .company_list>ul>li .category .top_cate{padding: 4px 12px; font-size: 14px; }
    .portfolio_cont .company_list>ul>li .category>ul>li{padding: 4px 12px; font-size: 14px; }

    .sub_container{padding:60px 20px; }
    .sub_top_title{margin-bottom:20px; font-size:26px; }
    .sub_top_txt{margin-bottom:50px; font-size:14px; }
    .title_style_1{font-size:18px; margin-bottom:20px;}

    .sub_cont_top:before,
    .sub_container:before{display:none; }
    .sub_top_txt br{display:none; }
    .tab_style_1 ul li{width:33.33%; }
    .tab_style_1 ul li span{font-size:13px; }
    .tab_style_1 ul li a{height:45px; box-sizing:border-box; }

    .seed_cont .tabTitle>ul>li,
    .seed_cont .tabTitle>ul>li:nth-child(5),
    .seed_cont .tabTitle>ul>li:nth-child(6),
    .seed_cont .tabTitle>ul>li:last-child{flex-basis: 100%; }
    .seed_cont .tabCont .txtArea .tb_style_1{overflow-x: scroll; }

    .search_type_2{padding-right:0;}
    .search_type_2 .search_01{ width:32%; height:40px; line-height:38px; font-size:14px; }
    .search_type_2 select{width: 33.2%;height:40px; line-height:38px; font-size:14px; }
    .search_type_2 select.long{margin:0; width:32%; }
    .search_type_2 input[type=text]{float:none; margin:5px 0; width:100%; height:40px; line-height:38px; font-size:14px; }
    .search_type_2 .btn_search{position:relative; width:100%; height:40px; line-height:38px; font-size:14px; }
    .bbs_tb_list th{font-size:12px; }
    .bbs_tb_list td button, .bbs_tb_list td a, .bbs_tb_list td{font-size:12px;}

    .contact_cont .contact_list_big{font-size: 18px; }
    .contact_cont .btn_area ul{flex-direction: column; }
    .contact_cont .btn_area li{margin-right: 0; }
    .contact_cont .btn_area li:last-child{margin-top: 30px; }


    .basic-btn03{width:140px; height:40px; line-height:38px; font-size:13px;}

    .infrastructure_list>li{margin:0 0 10px; width:49%; }
    .infrastructure_list>li:nth-child(2n){float:Right; }
    .infrastructure_list>li .title{font-size:14px; }
    .infrastructure_list>li>ul{font-size:13px; }
    .infrastructure_list>li .s_title{font-size:14px;}

    .infrastructure_btm .left_area{float:none; padding-bottom:20px; width:100%;}
    .infrastructure_btm li img{width:100%; }
    .infrastructure_btm .right_area{float:none; padding-bottom:20px; width:100%;}
    .infrastructure_btm h2{font-size:18px; }
    .infrastructure_btm .txt{font-size:12px; }

    .introduction h2{margin-bottom:30px; font-size:24px; }
    .ceo_info .info{padding-left:0; }
    .ceo_info .name{position:relative; display:block;  font-size:20px; margin-bottom:20px; }
    .ceo_info ul li{font-size:16px; }
    .ceo_info p{margin-bottom:20px; font-size:16px; }
    .ceo_info p br{display:none; }
    .ceo_info .btn_area a{height:46px; line-height:44px; font-size:16px; }
    .ceo_txt p.txt_1{font-size:18px; }
    .ceo_txt p{margin-bottom:15px; font-size:16px; }
    .history_list>ul>li{padding-left:0; margin-bottom:30px; }
    .history_list>ul>li .year{position:relative; margin-bottom:15px; display:block; }
    .history_list>ul>li li{font-size:14px; }
    .history_list>ul>li li:before{top:7px; }
    .history .btn_area button{height:46px; line-height:44px; }
    .history .btn_area button span{line-height:44px; font-size:16px; }
    .briefing .left_area h2{margin-bottom:30px; }
    .briefing .video_area {text-align: center;}
    .briefing_list>li{padding:95px 0 0; }
    .briefing_list>li.icon_1{background:url(../../image/briefing_icon_1.jpg) no-repeat center 0;}
    .briefing_list>li.icon_2{background:url(../../image/briefing_icon_2.jpg) no-repeat center 0;}
    .briefing_list>li.icon_3{background:url(../../image/briefing_icon_3.jpg) no-repeat center 0;}
    .briefing_list>li.icon_4{background:url(../../image/briefing_icon_4.jpg) no-repeat center 0;}
    /*.briefing_list>li.icon_5{background:url(../../image/briefing_icon_5.jpg) no-repeat center 0;}*/
    .briefing_list>li h3{font-size:20px; }
    .briefing_list>li li{font-size:16px; }
    .briefing_list>li.icon_1 li .c-gray{font-size:14px;}
    .briefing_list>li li:before{top:7px; }
    .vision .txt_1{margin:30px 0; font-size:18px; }
    .vision_list>li{min-height:80px; margin-bottom:30px; font-size:16px; }
    .introduction td{padding:15px 5px; font-size:13px; }

    .location_wrap .left_title h3{font-size:22px; }
    .location_wrap .left_title .btn_area a{width:150px; font-size:14px; }
    .location_wrap .left_title .btn_area li{margin-bottom:0;}
    .location_wrap .map_area{height:260px; margin-top:0;margin-bottom: 20px;}
    .location_wrap .location address{font-size:14px; }
    .location_wrap .location .info li{display:block; font-size:14px; }
    .location_wrap .transportation li{font-size:14px;}
    .location_wrap .parking_area li{font-size: 14px;}
    .location_wrap .txt_style_1 .left_title{top: 350px; margin-bottom: 20px; }
    .location{margin-top: 90px;}


    .promotion .left_title span{font-size:16px; }
    .promotion .left_title h3{font-size:26px; }
    .promotion .brochure_list li span{margin-bottom:10px; font-size:16px; }
    .promotion .brochure_list li{margin-right:15px; }
    .promotion .brochure_list li a{width:140px; height:50px; line-height:48px; font-size:14px; }
    .promotion .ci_list>div{float:none; width:100%; }
    .promotion .ci_list li{margin-bottom:20px; }

    .startup_support_step>ol>li:last-child .list{padding-top: 0px;}
    .startup_support_step>ol>li .step{width:150px; height:180px; background-size:150px; }
    .startup_support_step>ol>li .step span{font-size:20px; }
    .startup_support_step>ol>li .step span strong{font-size:24px; }
    .startup_support_step .list>ul>li{padding:15px 0; }
    .startup_support_step .list .title{position:relative; top:0; margin-bottom:15px;  font-size:20px; }
    .startup_support_step .list .title span{display:inline-block; font-size:20px; vertical-align:top;}
    .startup_support_step .list>ul>li>ul>li{padding-left:80px; font-size:14px; }
    .startup_support_step .list>ul>li>ul>li .s_title{font-size:16px; }
    .startup_support_step>ol>li:nth-child(2) .step,
    .startup_support_step>ol>li:nth-child(3) .step,
    .startup_support_step>ol>li:nth-child(4) .step{background-size:150px; }


}

@media screen and (max-width: 500px){
    .about_intro .ceo_img img{width: 100%; }
    .about_cont .tb_style_1 th{font-size: 14px; }
    .about_cont .tb_style_1 td{font-size: 14px; }

    .academic_cont .tb_style_1 th{font-size: 14px; }
    .academic_cont .tb_style_1 td{font-size: 14px; }
    .academic_cont .tb_style_1 td .process>li{font-size: 12px; }
    .academic_cont .tb_style_1 td .dot>li{font-size: 14px; }

    .portfolio_cont .company_list>ul>li{width: 100%; margin-bottom: .5rem; }
    
    .search_type_2 .search_01{width: 100%; margin-right: 0; margin-bottom: 5px; }
    .search_type_2 select{width: 100%; padding-left: 5px; }

    .seed_cont .tabCont .txtArea .process_list_wrap{justify-content: center; }
}

@media screen and (max-width: 400px){
    .vision_list>li{font-size: 14px; padding-top: 15px;}

    .about_banner .btn_area>li:first-child>a{font-size: 14px;}
    .about_list .btn_area{flex-wrap: wrap; }
    .about_list .btn_area>li{flex-basis: 100%; margin-bottom: 20px; margin-right: 0; }
    .about_list .btn_area>li>a{font-size: 16px;}
}

@media screen and (max-width: 370px){
    .vision_list>li{font-size: 11px; }
}

@media screen and (max-width: 350px){
    .location_wrap .left_title .btn_area a{width: 130px; font-size: 13px;}
}
